/*! Stylemarin v0.5.0 | MIT License | github.com/Submarinonline/Stylemarin */
//font
@font-face {
  font-family: 'GenShinGothic';
  src: url(/css/fonts/GenShinGothic/GenShinGothic-Regular.ttf);
}

$color: #111;
$primaly-color: #41ADEF;
$bg-color: #FCFCFC;
$bg-color-sub: #d9d9d9;

$radius-round: 1rem;
$radius-square: 2px;
$radius: $radius-round;

//column
.ctr {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

.col {
  width: 100%;
  float: left;
  box-sizing: border-box;

  &.s1,
  &.o {
    //one
    width: calc(100%/12);
  }

  &.s2 {
    width: calc(100%/6);
  }

  &.s3,
  &.q {
    //quarter
    width: calc(100%/4);
  }

  &.s4 {
    width: calc(100%/3);
  }

  &.s5 {
    width: calc(100%/2.4);
  }

  &.s6,
  &.h {
    //h
    width: calc(100%/2);
  }

  &.s7 {
    width: calc(100%/12*7);
  }

  &.s8 {
    width: calc(100%/1.5);
  }

  &.s9 {
    width: calc(100%/12*9);
  }

  &.s10 {
    width: calc(100%/1.2);
  }

  &.s11 {
    width: calc(100%/12*11);
  }

  &.s12 {
    width: 100%;
  }
}

//tag
html {
  color: $color;
  background-color: $bg-color;
  font-size: 93.75%;
  font-family: GenShinGothic;
}

input[type="file"]+label {
  padding: 0.29rem 1.32rem !important;
}

@mixin input {
  appearance: none;
  outline-style: none;
  border: 0;
  border-radius: $radius;
  color: $color;
  background: $bg-color;
  min-height: 1rem;
  padding: 0.5rem 1.25rem;
  margin: 0.5rem 0.7rem 0.5rem 0;
  outline-style: none;
  resize: none;
}

button,
select,
input:not([type="checkbox"]):not([type="radio"]),
.btn {
  @include input;
  height: 2.1em !important;
  font-size: 1rem;
  line-height: 1rem;
  transition: 0.2s ease-out;
  position: relative;
  box-sizing: border-box;

  &:not(select) {
    min-width: 5rem;
  }

  &.icon {
    position: relative;
    padding-left: 3rem;

    >span {
      position: absolute;
      left: 0.5rem;
      width: 2rem;
      box-sizing: border-box
    }

  }

  &.icon-r {
    position: relative;
    padding-right: 3rem;

    >span {
      position: absolute;
      right: 0.5rem;
      width: 2rem;
      box-sizing: border-box
    }

  }

}

@mixin buttonanime {
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $bg-color-sub;
  }
}

button {
  @include buttonanime;
}

input[type="file"],
input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input:not([type="checkbox"]):not([type="radio"]) {

  &[type="submit"],
  &[type="button"],
  &[type="reset"] {
    @include buttonanime;
  }
}

select {
  @include buttonanime;
}

@mixin radiocheckbox($bgradius) {
  +span {
    cursor: pointer;
    user-select: none;
    padding-left: 1.5rem;
    margin-right: 0.5rem;
    display: inline-block;
    position: relative;

    &::before {
      -webkit-transform: translateY(-50%);
      background: $bg-color;
      border-color: $bg-color;
      border-radius: $bgradius;
      content: "";
      display: block;
      height: 1rem;
      width: 1rem;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      box-sizing: border-box;
    }

    &::after {
      -webkit-transform: translateY(-50%);
      background: $primaly-color;
      opacity: 0;
      border: 0;
      border-radius: $bgradius;
      content: "";
      height: calc(1rem - 6px);
      width: calc(1rem - 6px);

      &:not(.outline) {
        height: calc(1rem - 4px);
        width: calc(1rem - 4px);
      }

      position: absolute;
      left: 3px;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.2s ease-out;
    }
  }

  &:checked+span::after {
    opacity: 1;
  }
}

input[type="color"] {
  cursor: pointer;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
}


input[type="radio"] {
  @include radiocheckbox($radius-round);
}

input[type="checkbox"] {
  @include radiocheckbox($radius-square);
}

textarea,
input[type="datetime"] {
  @include input;
}

//class decoration
.square {
  border-radius: $radius-square !important;
}

.round {
  border-radius: $radius-round !important;
}

.shadow {
  box-shadow:
    0px 0px 15px 0 #2020A030,
}

.outline {

  &[type="submit"],
  &[type="button"],
  &[type="reset"] {
    color: $primaly-color !important;
  }

  border: 1px !important;
  border-style: solid !important;
  border-color: $primaly-color !important;

  +span::before {
    border: 1px !important;
    border-style: solid !important;
    border-color: $primaly-color !important;
  }
}

button,
label {
  &.outline {
    color: $primaly-color !important;
  }
}

.primal {
  color: $bg-color;
  background-color: $primaly-color;
}

.gray {
  background-color: $bg-color-sub !important;
}

//class spacer
section {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.full {
  width: 100%;
}