/*! Stylemarin v0.5.0 | MIT License | github.com/Submarinonline/Stylemarin */
//font
@font-face {
  font-family: 'GenShinGothic';
  src: url(/css/fonts/GenShinGothic/GenShinGothic-Regular.ttf);
}

$color: #000000DE;
$primaly-color: #41ADEF;
$bg-color: #FCFCFC;
$button-h-color: #F0F0F0;

$radius-circle: 1rem;
$radius-square: 2px;
$radius: $radius-circle;

//tag
html {
  color: $color;
  background-color: $bg-color;
  font-size: 93.75%;
  font-family: GenShinGothic;
}

input[type="file"]+label {
  padding: 0.29rem 1.32rem !important;
}

@mixin input {
  appearance: none;
  outline-style: none;
  border: 0;
  border-radius: $radius;
  color: $color;
  background: $bg-color;
  min-height: 1rem;
  padding: 0.5rem 1.25rem;
  margin: 0.5rem 0.7rem 0.5rem 0;
  outline-style: none;
  resize: none;
  cursor: pointer;
}

button,
select,
input:not([type="checkbox"]):not([type="radio"]),
.btn {
  @include input;
  height: 2.1em !important;
  font-size: 1rem;
  line-height: 1rem;
  transition: 0.2s ease-out;
  position: relative;
  box-sizing: border-box;

  &:not(select) {
    min-width: 5rem;
  }

  &.icon {
    position: relative;
    padding-left: 3rem;

    >span {
      position: absolute;
      left: 0.5rem;
      width: 2rem;
      box-sizing: border-box
    }

  }

  &.icon-r {
    position: relative;
    padding-right: 3rem;

    >span {
      position: absolute;
      right: 0.5rem;
      width: 2rem;
      box-sizing: border-box
    }

  }

}

@mixin buttonanime {
  &:focus {
    transform: scale(1.1, 1.1);
  }

  &:active {
    transform: scale(1, 1) !important;
  }

  &:hover {
    transform: scale(1.1, 1.1);
  }
}

button {
  @include buttonanime;
}

input[type="file"],
input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input:not([type="checkbox"]):not([type="radio"]) {

  &[type="submit"],
  &[type="button"],
  &[type="reset"] {
    @include buttonanime;
  }
}

select {
  @include buttonanime;
}

@mixin radiocheckbox($bgradius) {
  +span {
    cursor: pointer;
    user-select: none;
    padding-left: 1.5rem;
    margin-right: 0.5rem;
    display: inline-block;
    position: relative;

    &::before {
      -webkit-transform: translateY(-50%);
      background: $bg-color;
      border-color: $bg-color;
      border-radius: $bgradius;
      content: "";
      display: block;
      height: 1rem;
      width: 1rem;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      box-sizing: border-box;
    }

    &::after {
      -webkit-transform: translateY(-50%);
      background: $primaly-color;
      opacity: 0;
      border: 0;
      border-radius: $bgradius;
      content: "";
      height: calc(1rem - 4px);
      width: calc(1rem - 4px);
      position: absolute;
      left: 2px;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.2s ease-out;
    }
  }

  &:checked+span::after {
    opacity: 1;
  }
}

input[type="radio"] {
  @include radiocheckbox($radius-circle);
}

input[type="checkbox"] {
  @include radiocheckbox($radius-square);
}

textarea,
input[type="datetime"] {
  @include input;
}

//class decoration
.shadow {
  box-shadow:
    0px 0px 15px 0 #2020A030,
}

.outline {

  &[type="submit"],
  &[type="button"],
  &[type="reset"] {
    color: $primaly-color !important;
  }

  border: 1px !important;
  border-style: solid !important;
  border-color: $primaly-color !important;

  +span::before {
    border: 1px !important;
    border-style: solid !important;
    border-color: $primaly-color !important;
  }
}

button,
label {
  &.outline {
    color: $primaly-color !important;
  }
}

.pri {
  color: $bg-color;
  background-color: $primaly-color;
}

//class spacer
.ctr {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

.sec {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.full {
  width: 100%;
}